<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<title>Albums</title>
		<link href="/css/stile.css" rel="stylesheet" type="text/css" media="screen">
		<link href="/css/footer.css" rel="stylesheet" type="text/css">
		<style>.col-sm- {padding:10px;}</style>
	</head>
	<body>
		<div th:replace="fragments/navbar.html :: navbar"></div>
		<div id="container-fluid">
			<header>
    			<div class="menu">
        			<h2 style="padding:20%;">Albums</h2>
        			<ul>
	                	<li th:each="album : ${albumi}" style="color:white;">
	                		<a th:href="@{'/album'+'/'+ ${album.id}}" th:text="${album.nome}">Home</a>
	                	</li>
                	</ul>
       	 			<h1 th:if="${role} == 'ADMIN'" class="footer">
      					 <a th:href="@{/addAlbum}">Aggiungi album</a>
      				</h1>
       	 		</div>
    		</header>
			<div class="container" style="width:200%;">
				<div class="row">
						<h3>Pagina album</h3>
				</div>
				<div class="row">
					<div class="col-sm-">
						Nome: <span th:text="${albumSelezionato.nome}"></span>
					</div>
					<div class="col-sm-">
						Autore: <a th:href="@{'/fotografo' + '/' + ${albumSelezionato.autore.id}}" th:text="${albumSelezionato.autore}"></a>
					</div>	
				</div>
				<h3 th:if="${#lists.isEmpty(albumSelezionato.foto)}">Nessuna foto disponibile</h3>
				<div th:if="${not #lists.isEmpty(albumSelezionato.foto)}">
					<div class="row">
						<h3>Lista foto:</h3>
					</div>
					<div class="row">
						<div class="col-sm-" th:each="foto : ${albumSelezionato.foto}">
							<div th:replace="fragments/visualizzaImmagini.html :: immagini(foto=${foto}, caller='ALBUM')"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>