<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<div th:insert="html_supporto/navbar.html"></div>
		<a th:href="@{/addAlbum}">Aggiungi album</a>
		<ol>
			<li th:each="album : ${albumi}">
				Nome:	<span th:text="${album.nome}"></span><br>
				<span th:if="${album.autore}"><span th:text="'Nome autore: ' + ${album.autore.nome}"></span></span>
			</li>
		</ol>
	</body>
</html>