<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<title>Fotografi</title>
		<style></style>
	</head>
	<body>
		<div th:replace="fragments/navbar.html :: navbar"></div>
		<h3 th:if="${role} == 'ADMIN'"><a th:href="@{/addFotografo}">Aggiungi fotografo</a></h3>
		<div class="container-fluid">
			<div class="row" th:each="fotografo : ${fotografi}">
				<div class="col" >
					<a th:href="@{'/fotografo' + '/' + ${fotografo.id}}" method="get">
					Nome:		<span th:text="${fotografo.nome}"></span>
					&emsp;&emsp;Cognome:	<span th:text="${fotografo.cognome}"></span></a>
				</div>
			</div>
		</div>
	</body>
</html>