<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<title>Fotos</title>
	</head>
	<body>
		<div th:insert="html_supporto/navbar.html"></div>
		<div class="container-fluid">
			<div class="row">
				<a th:href="@{/uploadFoto}">Upload foto</a>
			</div>
			<div class="row">
				<div class="col" th:each="foto : ${fotografie}">
					<img th:src="'/images/' + ${foto.fileName}" height="400" width="500">
					<span th:text="${foto.fileName}"></span>
				</div>
			</div>
		</div>
	</body>
</html>