<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<title>Fotos</title>
	</head>
	<body>
		<div th:replace="fragments/navbar.html :: navbar"></div>
		<h3  th:if="${role} == 'ADMIN'"><a th:href="@{/uploadFoto}">Upload foto</a></h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col" th:replace="fragments/visualizzaImmagini.html :: immagini(fotos=${fotografie})"></div>
			</div>
		</div>
	</body>
</html>