<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<title>Pagina fotografo</title>
	</head>
	<body>
		<div th:replace="fragments/navbar.html :: navbar"></div>
		<div class="container-fluid">
			<div class="row">
				<h3>Pagina fotografo</h3>
			</div>
			<div class="row">
			<div class="col">
			Nome: <span th:text="${fotografo.nome}"></span>
			</div>
			<div class="col-11">
			Cognome: <span th:text="${fotografo.cognome}"></span>
			</div>
				<div class="container-fluid" th:if="${albumi}" >
					Lista album:
					<div class="row" th:each="album : ${albumi}">
						Nome album: <a th:href="@{'/album' + '/' + ${album.id}}" th:text="${album.nome}"></a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>